<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pentesting Tool</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100">
    <div class="container mx-auto px-10 py-10">
        <h1 class="text-3xl font-bold text-center text-blue-900">Pentesting Tool</h1>
        <div class="flex flex-col items-center mt-10 space-y-10">
            <!-- Pcap Scanner Section -->
            <div class="w-full md:w-1/2 bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-bold text-blue-900">Pcap Scanner</h2>
                <p class="text-gray-700 mt-2">
                    Upload dan analisis file PCAP Anda untuk menemukan kerentanan jaringan.
                </p>
                <a href="/pcap" class="mt-4 px-6 py-3 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-800 inline-block">
                    Mulai Pcap Scanner
                </a>
                <div class="mt-6 flex items-center space-x-4">
                    <img src="/static/wireshark-logo.png" alt="Wireshark Logo" class="w-16 h-16">
                    <!-- <a href="/udp" class="text-blue-700 font-medium hover:underline">
                        TCP
                    </a>
                    <a href="/tcp" class="text-blue-700 font-medium hover:underline">
                        UDP
                    </a>
                    <a href="/icmp" class="text-blue-700 font-medium hover:underline">
                        ICMP
                    </a>
                    <a href="/http" class="text-blue-700 font-medium hover:underline">
                        HTTP
                    </a> -->
                    <a href="/cara-export-pcap" class="text-blue-700 font-medium hover:underline">
                        Cara export file PCAP dengan Wireshark
                    </a>
                </div>
            </div>
            
            <!-- Port Scanner Section -->
            <div class="w-full md:w-1/2 bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-bold text-blue-900">Port Scanner</h2>
                <p class="text-gray-700 mt-2">
                    Lakukan pemindaian port untuk mengidentifikasi port yang terbuka dan layanan yang berjalan.
                </p>
                <a href="/port" class="mt-4 px-6 py-3 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-800 inline-block">
                    Mulai Port Scanner
                </a>
            </div>
        </div>
    </div>
</body>
</html>
