<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cara Export File PCAP</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100">
    <div class="container mx-auto px-10 py-10">
        <h1 class="text-3xl font-bold text-center text-blue-900">Cara Export File PCAP dengan Wireshark</h1>
        <div class="mt-10 bg-white shadow-md rounded-lg p-6">
            <img src="/static/wireshark-logo-text.png" alt="Wireshark Export PCAP" class="flex justify-center w-50 h-12">
            <ol class="list-decimal list-inside text-gray-700 leading-relaxed mt-10">
                <li>Buka aplikasi Wireshark dan mulai menangkap data jaringan dengan memilih interface yang sesuai.</li>
                <li>Setelah proses penangkapan selesai, klik menu <strong class="text-blue-700">File</strong> di bagian atas.</li>
                <li>Pilih opsi <strong class="text-blue-700">Save As</strong>.</li>
                <li>Di jendela yang muncul, beri nama file Anda dan pastikan formatnya <strong class="text-blue-700">.pcap</strong>.</li>
                <li>Klik tombol <strong class="text-blue-700">Save</strong> untuk menyimpan file.</li>
            </ol>
            <div class="mt-6 text-center">
                <a href="/" class="px-6 py-3 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-800 inline-block">
                    Kembali ke Dashboard
                </a>
            </div>
        </div>
    </div>
</body>
</html>
